<section data-ng-controller="CardsController" data-ng-init="find()">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-6 col-sm-8 col-md-9 col-lg-9">
                <h1>Cards</h1>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <input type="text" class="form-control" placeholder="Filter by name"
                       ng-model="query" ng-change="find()">
            </div>
        </div>
    </div>
    <div class="list-group">
        <a data-ng-repeat="card in cards" data-ng-href="#!/cards/{{card._id}}" class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-sm-6">
			        <h4 class="list-group-item-heading" data-ng-bind="card.name"></h4>
                    <small class="list-group-item-text">
                        {{ card.type }}
                    </small>
                </div>
                <div class="col-xs-6 col-sm-6 text-center">
                    <span ng-bind-html="card.manaCost|iconifyMana"></span>
                </div>
            </div>
        </a>

        <pagination
                class="pull-right pagination-sm" boundary-links="true" max-size="5"
                previous-text="&lsaquo;" next-text="&rsaquo;"
                first-text="&laquo;" last-text="&raquo;"
                total-items="totalItems" items-per-page="count"
                ng-show="cards.length > 0"
                ng-model="page" ng-change="pageChanged()" ></pagination>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!cards.$resolved || cards.length">
    	No Cards yet, why don't you <a href="/#!/cards/create">create one</a>?
    </div>
</section>
