<section data-ng-controller="CardsController" data-ng-init="findOne()">
	<div class="page-header">
        <h1 ng-show="print.expansion">{{ print.expansion.name }} - {{ print.collectorNumber }}</h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.is(card.user._id) || authentication.isAdmin()">
		<a class="btn btn-primary" href="/#!/cards/{{card._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6">
				<h1 data-ng-bind="card.name"></h1>
            </div>
			<div class="col-sm-6">
                <span ng-bind-html="card.manaCost|iconifyMana" class="pull-right mana"></span>
			</div>
		</div>

		<div>
            <div class="row">
                <div class="col-sm-8">
					<h3>{{ card.type }}</h3>
                </div>
                <div class="col-sm-4">
                    <h3 ng-show="print" ng-bind-html="print.expansion.code|iconifyExpansion : print.rarity" class="pull-right"></h3>
                </div>
            </div>

            <p class="rules" ng-bind-html="card.rules | markReminderText | iconifyMana"></p>
            <p class="flavor-text" ng-show="print" ng-bind-html="print.flavorText"></p>

            <div class="row">
                <div class="col-xs-offset-3 col-sm-offset-4 col-xs-4 col-sm-4">
                    <p ng-show="print" class="illustrator">{{ print.illustrator }}</p>
                </div>

				<div class="col-xs-offset-2 col-sm-offset-2 col-xs-1 col-sm-2" >
					<h4 class="power-toughness" ng-show="print.card.power">{{ card.power }}/{{ card.toughness }}</h4>
					<h4 class="loyalty" ng-show="print.card.loyalty">{{ card.loyalty }}</h4>
				</div>
			</div>
		</div>

        <div>
            <ul class="list-inline">
                <li ng-repeat="print in prints" >
                    <button class="btn" ng-click="changePrint(print)">{{ print.expansion.code }} - {{ print.collectorNumber }}</button>
                </li>
            </ul>
        </div>

        <div class="pull-right" ng-show="card.transformsInto">
            <button class="btn btn-info"  ng-click="transform()">Transform into {{ card.transformsInto.name }}</button>
        </div>
    </div>
    <div class="col-sm-6 transformable">
        <img class="center-block card img-responsive" ng-src="http://mtgimage.com/set/{{ print.expansion.code }}/{{ card.name }}.jpg">
        <!--
        <img class="center-block card" ng-src="http://www.magiccards.info/scans/en/{{ print.expansion.code|lowercase }}/{{ print.collectorNumber }}.jpg">
        -->
    </div>
</section>
