<section data-ng-controller="PrintsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Print</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="cardName">Card</label>
                    <div class="controls">
                        <input type="text" class="form-control uneditable-input" id="cardName" ng-model="print.card.name" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="expansionName">Expansion</label>
                    <div class="controls">
                        <input type="text" class="form-control uneditable-input" id="expansionName" ng-model="print.expansion.name" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="collectorNumber">Collector number</label>
                    <div class="controls">
                        <input type="number" data-ng-model="print.collectorNumber" id="collectorNumber" class="form-control" placeholder="Collector number" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="flavorText">Flavor text</label>
                    <div class="controls">
                        <textarea data-ng-model="print.flavorText" id="flavorText" class="form-control" placeholder="Flavor text" required>
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="illustrator">Illustrator</label>
                    <div class="controls">
                        <input type="text" data-ng-model="print.illustrator" id="illustrator" class="form-control" placeholder="Collector number" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>